@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-main-purple: #5452FC;
  --color-purple-2: #7F43FF;
  --color-blue: #1400FF;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #F8F8F8;
  --color-gray-150: #F6F6F6;
  --color-gray-200: #303030;
  --color-gray-250: #7C7C7C;
  --color-gray-300: #DEE6F8;
  --color-gray-350: #606060;
  --color-gray-400: #00000033;
  --color-gray-700: #2F4565;
  --color-error: #FF0000;
  --color-success: #00EC6D;
  --color-green-light: #CCFFE3;
  --color-green-dark: #006737;

  --default-font-family: "Nunito", sans-serif;
}