@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";


* {
  padding: 0;
  margin: 0;
}

@theme {
  --color-*: initial;
  --color-main-purple: #5452FC;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #F8F8F8;
  --color-gray-medium: #00000033;

  --default-font-family: "Nunito", sans-serif;
}